h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
#headerForm {
    font-size: small;
}
#botonEnviar {
    width: 350px;
    margin-left: 25px;
    margin-right: 25px;
}
#p1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-style: oblique;
  padding-top: 15px;
  padding-bottom: 15px;
}
#p2{
  text-align: center;
}
form {
    font-family:Arial, Helvetica, sans-serif;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    border: 5px,black,black;
  }
  